$primary-title-font: 'PT Sans', sans-serif;
$secondary-title-font: 'Ubuntu Mono', monospace;
$main-text-font:  "Open Sans", sans-serif;
$secondary-text-font: 'Montserrat', sans-serif;
$section-title-font: "Museo Sans Cyrl";
$accent-text-color: #00bcd4;
$light-gray-color: #79787a;
$dark-gray-color: #242427;
$background-color: #232327;
$accent-text-color-before: #00bbd3;
$white-text-color: #ffffff;
$white-text:#fbfbfb;
$black-color:#000000;
$before-line-color: #29292b;
$line-color:#dfdfdf;
$item-background-color:#f0f0f0;


