html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0 auto;
  }
  
  .img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.teachers{
    width: 320px;
    margin: 0 auto;
    padding: 0; 
    background-image: url(../img/Background16.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.wrapper__teachers-background{
    width: 290px;
    margin: 0 auto;
    padding: 0;
}
.section-title {
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: "Museo Sans Cyrl";
    text-align: center;
}
.section-title::before {
    display: inline-block;
    content: "";
    background-color: #00bcd4;
    width: 14px;
    height: 4px;
    font-weight: 700;
  }
.teachers__list {
    list-style-type: none;
    position: relative;
    
}
.teachers__title{
    font-size: 14px;
    line-height: 20px;
    color: #242427;
    font-family: "Museo Sans Cyrl";
    text-align: center;
    text-transform: uppercase;
    padding:22px 0;
}
.teachers__title--desc{
    margin-bottom: 50px;
}
.teachers__item-title{
    margin: 0 auto 14px;
}
.teachers__section-title-sub-little {
    display: block;
    width: 150px;
    height: 2px;
    background: #232327;
    margin-bottom: 22px;
}
.teachers__item-desc{
    font-size: 14px;
    line-height: 24px;
    color: #242427;
    font-family: "Open Sans";
    font-weight: 800;
    margin-bottom: 34px;
}
.teachers__section-line-little{
    display: block;
    width: 290px;
    height: 36px;
    position: relative;
}
.teachers__list{
    margin: 0 auto 45px;
    padding: 0;
}
.teachers__list-item{
    display: block;
    width: 290px;
    height: auto;
    box-shadow: 0px 32px 35px rgba(0,0,0,0.19);
    background-color: #ffffff;
    position: relative;
}
.teachers__list-item-developer,
.teachers__list-name,
.teachers__list-name-developer,
.teachers__list-item-skills{
    color: #242427;
    font-family: "Ubuntu Mono";
    font-weight: bold;
}
.teachers__list-item-developer{
    display: inline-block;
    font-size: 24px;
    line-height: 36px;
    position: absolute;
    right: 0;
}
.teachers__list-item-developer::before{
    display: inline-block;
    content: "";
    width: 100px;
    height: 2px;
    background-color: #29292b;
}


.wrapper__item-background{
    display: block;
    width: 290px;
    background-color: #f0f0f0;
}
.teachers__list-item-image{
    float: left;
}
.line{
    float: left;
    width: 290px;
    height: 1px;
    background-color: #dfdfdf;
    margin-bottom: 36px;
}
.teachers__list-name{
    font-size: 20px;
    line-height: 24px;
}
.teachers__list-name-developer::before{
    display: inline-block;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #00bbd3;
    position: absolute;
    top: 70px;
}
.teachers__list-name-developer{
    font-size: 14px;
    line-height: 18px;
}
.teachers__list-name,
.teachers__list-name-developer{
    display: inline-block;
    width: 142px;
    margin: 15px 0 0 18px;
}
.teachers__summary{
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: #242427;
    font-family: "Open Sans";
    font-weight: bold;
    margin:0 0 22px 15px ;
}
.teachers__list-item-skills{
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left:15px; 
    padding-bottom: 26px;
}
.button{
    width: 290px;
    height: 55px;
    border-radius: 5px;
    box-shadow: 0px 12px 20px rgba(28,28,30,0.21);
    background-image: linear-gradient(90deg, #ffc517 0%, #fb0640 100%);
    cursor: pointer;
}
.teachers__button{
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Museo Sans Cyrl";
    box-shadow: 0px 1px 1px rgba(28,28,30,0.32);
    margin-bottom: 64px;

}
