html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .img {
    display: block;
    /* max-width: 100%; */
    height: auto;
  }

.about{
    width: 290px;
    margin: 0 auto;
}
.section-title {
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: "Museo Sans Cyrl";
    text-align: center;
}

.section-title::before {
    display: inline-block;
    content: "";
    background-color: #00bcd4;
    width: 14px;
    height: 4px;
    font-weight: 700;
  }
.list {
    list-style-type: none;
    position: relative;
}

.about__title{
    font-size: 14px;
    line-height: 20px;
    color: #242427;
    font-family: "Museo Sans Cyrl";
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.about__title-special{
    color: #00bcd4;

}


.about__section-title-sub-little {
    display: block;
    width: 150px;
    height: 2px;
    background: #232327;
    margin: 0 auto;
}
.about__item-title{
    margin-bottom: 14px;
}
.about__item-desc{
    font-size: 16px;
    line-height: 24px;
    color: #242427;
    font-family: "Museo Sans Cyrl";
    text-transform: uppercase;
    margin-bottom: 22px;
}
.about__item-desc-little{
    font-size: 16px;
    line-height: 21px;
    color: #242427;
    font-family: "Open Sans";
    font-weight: bold;
}
.about__list-item{
font-size: 14px;
line-height: 20px;
color: #242427;
font-family: "Open Sans";
margin-bottom: 28px;
}
.about__list-item::before {
    display: block;
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 8px;
    background-color: #00bbd3;
    position: absolute;
    left: 18px;
}
.about__item-company{
    font-size: 18px;
    line-height: 24px;
    color: #242427;
    font-family: "Ubuntu Mono";
    font-weight: bold;
}
.about__item-company-work{
    font-size: 16px;
    line-height: 24px;
    color: #242427;
    font-family: "Ubuntu Mono";
}
.section-title-sub{
    width: 290px;
    height: 2px;
    background-color: #232327;
    margin: 0 auto;
}
.wrapper__logo{
    position: relative;
    display: inline-block;
    width: 142px;
    height: 145px;
    box-shadow: 0px 3px 7px hsla(0, 0%, 0%, 0.2);
    background-color: #ffffff;
    margin-bottom: 28px;
}
.about__link-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
