
.header {
    position: relative;
    min-height: 546px;
    height: 100%;
    background-color: #2b2a2f;
    background-repeat: no-repeat;
    color: $white-text-color;
}

.section-wrapper{
    max-width: 290px;
    @extend %block-center;
}

.overlay {
    position: absolute;
    width: 555px;
    min-height: 930px;
    background-color: rgb(36, 36, 39);
    left: calc(1920px - 49%);
    top: 0;
    display: none;
}

.page-nav{
    @include list-flex;
    @extend %block-center;
    position: relative;
    min-height: 100px;
    padding-top: 24px;
    margin-bottom: 45px;
    z-index: 1;
}

.logo-content {
    @include list-flex;
    padding-top: 4px;
}

.logo-desc {
    display: none;
    color: $white-text-color;

      &__def{
    display: none;
    }
}

  .site-info{
     display: flex;
     flex-wrap: wrap;
     width: 250px;
     justify-content: space-between;
     align-items: flex-end;
     flex-direction: column;
}

.text-info{
     margin: 0 auto;

      & p{
        display: block;
        width: 135px;
        font-size: 14px;
        line-height: 29px;
        font-family: $primary-title-font;
        font-weight: 700;
        color: $white-text-color;
        border: 1px solid $accent-text-color;
        text-transform: uppercase;
        text-align: center; 
     }
}
.contact__text{
        margin: 0;
        font-family: $secondary-text-font;
        font-size: 13px;
        line-height: 20px;
        color: $light-gray-color;
}

.contact__number{
      font-family: $secondary-title-font;
      font-size: 14px;
      font-weight: 700;
      margin: 0;
  
        &::after{
      content: "";
      display: block;
      background-color: $accent-text-color;
      width: 135px;
      height: 1px;
      margin-top: 2px;
      margin-bottom: 2px;
      }
}
.contact__post{
      color: $dark-gray-color;
      background-color: $white-text-color;
      font-size: 16px;
      display: none;
}
  .aside-text{
    display: none;
}
.header-content-wrapper{
    text-align: center;
}
.header-content { 
    max-width: 290px;
    @extend %block-center;
}
.header-image{
  display: none;
}
.header__title-desc{
  font-family: $secondary-title-font;
  font-size: 18px;
  margin-bottom: 12px;

      & span{
    font-size: 16px;
    font-family: $secondary-text-font;
    text-transform: lowercase;
    color: $light-gray-color;
    font-weight: normal;
      }
}
.header__title {
    @extend %block-center;
    font-size: 30px;
    line-height: 40px;
    font-family: $primary-title-font;
    text-transform: uppercase;
    max-width: 290px;
    margin-bottom: 36px;
    color: $white-text-color;

  &::before{
    width: 100%;
     margin: 0 auto;
     content: "";
     background-color: $accent-text-color;
     width: 150px;
     height: 3px;
     margin-bottom: 14px;
 }
}
.header__post{
    @extend %block-center;
     max-width: 240px;

     &-item_top{
    margin-bottom: 14px;   
    line-height: 20px;
    font-family: $primary-title-font;
    font-weight: 300;
    font-size: 14px;
}
      &-item_bottom{
    font-family: $secondary-title-font;
    font-weight: 700; 
    font-size: 15px; 
    line-height: 18px;
}
}
@media (max-width: 767px){
    .header{
        max-width: 100vw;
    }
    .page-nav{
        max-width: 290px;
        width: 100%;
    }
    .header-featchers{
        display: none;
    }
    .logo-desc {
        display: none;
    } 
    }
   @media (min-width: 768px){
    .header {
        min-height: 724px;
    }
    .section-wrapper{
        max-width: 690px;
        width: 100%;
    }
    .page-nav {
       max-width: 690px;
       width: 100%;   
       margin-bottom: 40px;
   }
   .logo-content {
       max-width: 220px;
       padding: 0;
   }
   .logo-desc{
       display: block;
   
      &__name{
         font-family: $primary-title-font;
         font-weight: 700;
         text-transform: uppercase;
         font-size: 11px;
         line-height: 16px;
         max-width: 120px;
         width: 100%;
}
   }
.site-info{
    flex-direction: row;
    max-width: 410px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.contact{
       order: 1;
   }
.text-info{
    width: 145px;
    height: 32px;
       margin: 0 auto;
       text-align: center;
   }  
   .header-content{
    max-width: 690px;
    width: 100%;
    margin-bottom: 110px;
    text-align: center;
   }
   .header__title-desc{ 
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .header__title {
    max-width: 574px; 
    width: 100%;
    font-size: 40px;
    line-height: 50px;
    margin: 0 auto;
    margin-bottom: 26px;

  &::before{
    width: 576px;
    height: 6px;
    margin: 0 auto;
    margin-bottom: 30px;
   }
  }
.header__post{
    max-width: 674px;
    width: 100%;   

      &::before{
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 32px;
    background-color: $accent-text-color;
    width: 120px;
    height: 1px;
}
}
.header__post-item_top{
    margin-bottom: 10px; 
    font-size: 16px;
}
.header__post-item_bottom{
    font-family: $secondary-title-font;
    font-weight: 700; 
    font-size: 17px;
}
.header__post-item_bottom .accent-text{
        font-size: 20px;
    }
 .header__post-item_bottom .block{
        display: inline-block;
    }
.header-featchers__list{
    @include list-flex;
    width: 504px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.header-featchers__item {
 @include list-flex;
   width: 151px;

      &_before::before{
    content: "<_";
    display: block;
    width: 30px;
    height: 20px;
    font-weight: bold;
    color: $accent-text-color;
}
    &-post{
    font-size: 16px;
    font-family: $secondary-title-font;
    font-weight: 400;
}
}
 }
@media(min-width: 768px) and (max-width: 1919px){
     .header-featchers__item-post_bold {
   border-right: 1px solid $white-text-color;
   font-family: $primary-title-font;
   font-weight: 700;
   text-transform: uppercase;
   text-align: left;
}
}
@media (min-width: 1920px) {
    .header {
        max-width: 1920px;
        width: 100%;
        min-height: 845px;
        background-image: url("../img/header-bg.png");
    }
 .section-wrapper{
    /* @extend  %block-center;*/
     max-width: 1760px;
    }
   .overlay{
        display: block;
    }
    .page-nav{
        max-width: 1453px;
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
        z-index: 1;
      }

      .logo-content{
        justify-content: flex-start;
        max-width: 800px;
        width: 100%;  
    }
    .logo-desc{
        display: block;
        font-size: 15px;
        max-width: 270px;
        width: 100%; 

     &__name{
        text-transform: uppercase;  
        font-family: $primary-title-font; 
      }
     &__def{
        font-family: $secondary-title-font;
        font-size: 14px;
        display: block;
        font-size: 14px;
    }
    }
  .site-info{
      max-width: 510px;
      width: 100%;
      margin: 0;
      padding: 0;   
  }
  .text-info{
      margin: 0;
      margin-top: -80px;
      width: 150px;
  }
  .text-info p {
    writing-mode: vertical-lr;
    width: 40px;
    border: none;
    text-align: right;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $secondary-title-font;

     &::after{
    display: block;
    content: "";
    background-color: $accent-text-color;
    width: 1px;
    height: 237px;
}
  }
.contact{
    order: 1;
    max-width: 240px;
    width: 100%;
    margin-top: -50px;
    
   &__post{
    display: block;
    text-align: center; 
    height: 33px;
    line-height: 33px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $primary-title-font;
}
   &__text{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

   &__number{
    font-family: $secondary-title-font;
    font-size: 20px;
    font-weight: 700;

    &::after{
    width: 260px;
    height: 1px;
    margin-top: 2px;
    margin-bottom: 5px;
}
}
}
.header-content-wrapper{
    @include list-flex;
    position: relative;
    max-width: 840px;
    width: 100%;
    font-family: $secondary-title-font;
    font-weight: 700;
    font-size: 18px;
}
.link{
    position: relative;
    width: 292px;
    height: 76px; 
    top: 844px;
    left: 60px;
}
.header-link{
    position: absolute;
    display: block;
    text-decoration: none;
    background-color: $accent-text-color;
    color: $dark-gray-color;
    font-weight: bold;
    text-transform: uppercase;
    width: 262px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-family: $primary-title-font;

     &::before{
    content: "";
    display: inline-block;
    position: absolute;
    right: 230px;
    top: 17px;
    background-image: url("../img/brackets-before.png");
    width: 40px;
    height: 40px;
    z-index: 3;
    rotate: (180deg);
}

    &::after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 230px;
    bottom: 15px;
    background-image: url("../img/brackets.png");
    width: 40px;
    height: 40px;
    z-index: 3;
}
}

.header-image{
    display: block;
    position: absolute;
    top: 50px;
    left: 65.3%;
}
.header-content{
    max-width: 480px;
    text-align: left;
    margin: 0;
}
.header__title-desc{
   font-size: 26px;
   max-width: 490px;
   width: 100%;
   text-align: right;
}
.header__title-desc span {
    font-size: 24px;
    display: block;
}
.header__title{
    font-size: 64px;
    line-height: 75px;
    font-family: $primary-title-font;
    margin: 0;
    text-align: right;
    margin-bottom: 75px;

        &::before{
    content: "";
    display: block;
    width: 572px;
    height: 5px;
    background-color: $accent-text-color;
    margin-top: 10px;
    text-align: right;
}
}
.header__post{
   display: inline-block;
   width: 574px;

       &::before{
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $accent-text-color;
    width: 120px;
    height: 1px;
    margin: 0;
    top: 425px;
    left: 210px;
}
}
.header__post-item-top{
    font-family: $primary-title-font;
    font-weight: 400; 
    font-size: 16px;
    margin: 0;
}
.header-featchers {
    position: absolute;
    top: 390px;
    left: 1010px;
    z-index: 2;

     &__list{
    flex-direction: column;
    min-height: 300px;
    height: 100%;
     }
}
.header-featchers__item {
    width: 242px;
    text-align: left;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
}
    .header-featchers__item_top{
    padding-left: 20px;
}
.header-featchers__item_before::before{
    content: "<_";
    display: inline-block;
    width: 30px;
    height: 32px;
    color: $accent-text-color;
}

.header-featchers__item-post{
    width: 170px;
}
    .header-featchers__item-post_bold {
    border-bottom: 2px solid $white-text-color;
    padding-bottom: 10px;
    margin-left: 10px;
    font-size: 22px;
    line-height: 28px;
    font-family: $primary-title-font;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
 
}
.aside-text {
    display: block;
   
    &__block{
      writing-mode: vertical-lr;
  
       &::before{
          content: "\005B";
          display: inline-block;
          color: $accent-text-color;
          width: 16px;
          height: 16px; 
}
}
}
}

