.future {
  margin: auto;
}
.caption {
  width: 610px;
  height: 268px;
  font-size: 42px;
  color: #242427;
  font-family: "Museo Sans Cyrl";
  margin: auto;
}
.list {
  margin: auto;
}
.item__text {
  padding-left: 100px;

}
.titles {
  width: 100%;

}
.titles::before {
  background: url(../img/Elips.png) no-repeat;
  content: '';
  position: absolute;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  width: 63px;
  height: 63px;
  padding-left: 13px;
  padding-top: 13px;
}
.frontend--title::before {
  content:url(../img/code.png);
}
.backend--title::before {
  content:url(../img/codings.png);
}
.fullstack--title::before {
  content:url(../img/coding.png);
}
.web-title::before {
  content:url(../img/wordpress.png);
}
.html-title::before {
  content:url(../img/website.png);
}
.subject {
  width: 350px;
  height: 116px;
  font-size: 18px;
  color: rgb(36,36,39);
  font-family: "Museo Sans Cyrl";
  text-align: right;
}
.subject ::after {
  content: "";
  display: block;
  width: 430px;
  height: 2px;
  background-color: #232327;
}
.frontend--desc {
  width: 160px;
}
.fullstack-desc {
  width: 198px;
}
.backend--desc {
  width: 224px;
}
.desc {
  margin-top: 48px;
}
.salary {
  margin-top: 15px;
}
.job {
  font-size: 18px;
  line-height: 20px;
  color: rgb(99,99,99);
  font-family: "Ubuntu Mono";
  margin-top: 20px;
}
.list--description {
  width: 563px;
  height: 269px;
  border: solid 2px black;
  padding-top: 40px;
 }
.description--title {
  width: 416px;
  font-size: 20px;
  font-family: $section-title-font;
  margin: auto;
}
.description--button {
  margin-top: 70px;
}
.card {
  width: 270px;
  border: solid 2px black;
  margin: 15px;
  padding: 10px;
}
.list--frontend {
  margin-top: 70px;
}
