.differences {
  margin-bottom: 40px;
}

@media (min-width: 0px) {
  .section__title--differences::after {
    height: 0px;
  }
}

.differences__item-title {
  font-size: 20px;
  font-family: "UbuntuMono";
  color: #242427;
  font-weight: bold;
  line-height: 1.2;

  &::after {
    display: block;
    content: "";
    background: #00bcd4;
    margin-top: 10px;
    width: 80px;
    height: 2px;
  }
}

@media (min-width: 748px) {
  .differences__item-title::after {
    margin-left: 0px;
  }
}

.differences__item-desc {
  font-size: 14px;
  font-family: "OpenSans";
  color: #242427;
  line-height: 1.714;
  margin-bottom: 10px;
}

.differences__item-desc li::before {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  margin-right: 12px;
  background: #000000;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hint--differences {
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 290px;
}