  .section-title {
      font-size: 25px;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;

    &::before {
      display: inline-block;
      content: "";
      color: #00bcd4;
      width: 14px;
      height: 4px;
      font-weight: 700;
    }
  }
  
