.section-title {
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;

    &::before {
      display: inline-block;
      content: "";
      color: rgb(0, 188, 212);
      width: 14px;
      height: 4px;
      font-weight: 700;
    }
  }
  
